*{
    margin: 0%;
    border-radius: 39px;
}

body{
    background-color: royalblue;
}

header{
    height: 20%;
    background-color: lightblue;
}

nav{

    height: 60%;
    width: 20%;
    background-color: lightseagreen;
}


footer{

    height: 20%;
    text-align: center;
    background-color: blue;
    color: white;
}

img.headerPhoto{
    height: 100%;
    background-color:lightblue;
}

li.menu{
    list-style-type: none;
    display: inline;
    margin: 5px;
    border: 2px black solid;
    padding: 10px;
    background-color: blue;
    
}

a{
    color: white;
}

div.logo {
    width: 12%;
    height: 50%;

    
}

div.titulo {
    position: absolute;
    left: 12%;
    width: 82%;
    background-color: royalblue;
    font-size: 1.4rem;
    text-align: center;
    color:white;

}

div.tabla {
    position: absolute;
    left: 10%;
    width: 85%;
    height: 11%;    
}
