/* Autor Andrei Vlasin */
header p:first-child{
    color: red;
}
a:link {
    color: blue;
}

a:visited{
    color:red;
}


a:hover{
    background-color: red;
    font-weight: bold;
    font-size: 1000%;
}

a:active{
    font-size: 30%;
    color: white;
}


p.mex:hover {
    color: blue;
    font-size: 5em;
}

p.mex{
    height: 80px;
    width: 40%;
}